.custom-md h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.custom-md h1 .anchor,
.custom-md h2 .anchor,
.custom-md h3 .anchor,
.custom-md h4 .anchor,
.custom-md h5 .anchor,
.custom-md h6 .anchor {
    margin: -0.125rem 0 0 -0.125rem;
    margin-left: 0.2ch;
    padding: 0.125rem;
    opacity: 0;
    user-select: none;
    text-decoration: none !important;
    transition:
        color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-md h1 .anchor .anchor-icon,
.custom-md h2 .anchor .anchor-icon,
.custom-md h3 .anchor .anchor-icon,
.custom-md h4 .anchor .anchor-icon,
.custom-md h5 .anchor .anchor-icon,
.custom-md h6 .anchor .anchor-icon {
    margin-inline: 0.45ch !important;
}

.custom-md h1:hover .anchor,
.custom-md h2:hover .anchor,
.custom-md h3:hover .anchor,
.custom-md h4:hover .anchor,
.custom-md h5:hover .anchor,
.custom-md h6:hover .anchor {
    opacity: 1 !important;
}

.custom-md a:not(.no-styling) {
    position: relative;
    z-index: 0;
    margin: -0.25rem;
    padding: 0.25rem 0.25rem calc(0.25rem - 1px);
    border-radius: 0.375rem;
    border-bottom: 1px dashed transparent;
    background-color: transparent;
    color: var(--primary);
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--link-underline);
    text-underline-offset: 4px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    transition:
        color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-md a:not(.no-styling)::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    background-color: transparent;
    transform: scale(0.85);
    transition:
        transform 0.15s ease-out,
        background-color 0.15s ease-out,
        opacity 0.15s ease-out;
}

.custom-md a:not(.no-styling):hover::before {
    background-color: var(--btn-plain-bg-hover);
    transform: scale(1);
}

.custom-md a:not(.no-styling):active::before {
    background-color: var(--btn-plain-bg-active);
}

.custom-md a:not(.no-styling):hover,
.custom-md a:not(.no-styling):active {
    background: var(--btn-plain-bg-hover);
    border-bottom-color: currentcolor;
    text-decoration: none;
    text-decoration-color: transparent;
}

.custom-md h1 .anchor,
.custom-md h2 .anchor,
.custom-md h3 .anchor,
.custom-md h4 .anchor,
.custom-md h5 .anchor,
.custom-md h6 .anchor {
    display: inline;
    margin: -0.125rem -0.125rem -0.125rem 0.2ch;
    padding: 0.125rem;
}

.custom-md code {
    overflow: hidden;
    padding: 0.125rem 0.25rem;
    border-radius: 0.375rem;
    background-color: var(--inline-code-bg);
    color: var(--inline-code-color);
    font-family: var(--font-jetbrains-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    counter-reset: line;
}

.custom-md code::before,
.custom-md code::after {
    content: none;
}

.custom-md code span.line::before {
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    color: rgb(255 255 255 / 0.25);
    content: counter(line);
    counter-increment: line;
    direction: rtl;
}

.custom-md code span.line:last-child:empty,
.custom-md code span.line:last-child:has(> span:empty:only-child) {
    display: none;
}

.custom-md .copy-btn {
    all: initial;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: oklch(0.45 0.01 var(--hue));
    box-shadow:
        0 10px 15px -3px rgb(0 0 0 / 0.5),
        0 4px 6px -4px rgb(0 0 0 / 0.5);
    cursor: pointer;
    opacity: 0;
    font-size: 0.875rem;
    transition: all 0.15s ease-in-out;
}

.custom-md .copy-btn:hover {
    background-color: oklch(0.50 0.01 var(--hue));
}

.custom-md .copy-btn:active {
    background-color: oklch(0.55 0.01 var(--hue));
    transform: scale(0.9);
}

.dark .custom-md .copy-btn {
    background-color: oklch(0.30 0.02 var(--hue));
}

.dark .custom-md .copy-btn:hover {
    background-color: oklch(0.35 0.03 var(--hue));
}

.dark .custom-md .copy-btn:active {
    background-color: oklch(0.40 0.03 var(--hue));
}

.custom-md .frame:hover .copy-btn {
    opacity: 1;
}

.custom-md .copy-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    fill: white;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition:
        color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-md .copy-btn .copy-icon {
    opacity: 1;
    fill: white;
}

.dark .custom-md .copy-btn .copy-icon {
    fill: rgb(255 255 255 / 0.75);
}

.custom-md .copy-btn.success .copy-icon {
    opacity: 0;
    fill: var(--deep-text);
}

.custom-md .copy-btn .success-icon {
    opacity: 0;
    fill: white;
}

.custom-md .copy-btn.success .success-icon {
    opacity: 1;
}

.custom-md .expressive-code {
    margin-block: 1rem;
}

.custom-md .expressive-code ::selection {
    background-color: var(--codeblock-selection);
}

.custom-md ul li::marker,
.custom-md ol li::marker {
    color: var(--primary);
}

.custom-md blockquote {
    position: relative;
    border-color: transparent;
    font-style: normal;
    font-weight: inherit;
}

.custom-md blockquote::before {
    content: "";
    position: absolute;
    left: -0.25rem;
    display: block;
    width: 0.25rem;
    height: 100%;
    border-radius: 9999px;
    background-color: var(--btn-regular-bg);
    transition:
        color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-md blockquote p::before,
.custom-md blockquote p::after {
    content: none;
}

.custom-md .katex-display-container {
    max-width: 100%;
    margin: 1em 0;
    overflow-x: auto;
}
