.scrollbar-base.os-scrollbar {
    pointer-events: unset;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.scrollbar-base.os-scrollbar.os-scrollbar-horizontal {
    height: 1rem;
    padding: 0.25rem 0.5rem;
}

.scrollbar-base.os-scrollbar.os-scrollbar-horizontal .os-scrollbar-track .os-scrollbar-handle {
    height: 0.25rem;
    border-radius: 9999px;
}

.scrollbar-base.os-scrollbar.os-scrollbar-horizontal:hover .os-scrollbar-track .os-scrollbar-handle {
    height: 0.5rem;
}

.scrollbar-base.os-scrollbar.os-scrollbar-vertical {
    width: 1rem;
    padding: 0.25rem;
}

.scrollbar-base.os-scrollbar.os-scrollbar-vertical .os-scrollbar-track .os-scrollbar-handle {
    width: 0.25rem;
    border-radius: 9999px;
}

.scrollbar-base.os-scrollbar.os-scrollbar-vertical:hover .os-scrollbar-track .os-scrollbar-handle {
    width: 0.5rem;
}

.os-scrollbar.scrollbar-auto {
    --os-handle-bg: var(--scrollbar-bg);
    --os-handle-bg-hover: var(--scrollbar-bg-hover);
    --os-handle-bg-active: var(--scrollbar-bg-active);
}

.os-scrollbar.scrollbar-dark {
    --os-handle-bg: var(--scrollbar-bg-dark);
    --os-handle-bg-hover: var(--scrollbar-bg-hover-dark);
    --os-handle-bg-active: var(--scrollbar-bg-active-dark);
}

.os-scrollbar.scrollbar-light {
    --os-handle-bg: var(--scrollbar-bg-light);
    --os-handle-bg-hover: var(--scrollbar-bg-hover-light);
    --os-handle-bg-active: var(--scrollbar-bg-active-light);
}
